BasedOnStyle: Chromium
IndentWidth: 4
TabWidth: 4
UseTab: Always
PointerAlignment: Left
MaxEmptyLinesToKeep: 3
AlignEscapedNewlines: Left
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: True
AlwaysBreakAfterReturnType: None
BreakBeforeInlineASMColon: Always
SortIncludes: CaseInsensitive
IndentCaseLabels: False
IndentGotoLabels: False
InsertNewlineAtEOF: true
KeepEmptyLinesAtTheStartOfBlocks: True
ColumnLimit: 140
AlwaysBreakBeforeMultilineStrings: False
BreakStringLiterals: True
AllowShortEnumsOnASingleLine: False
BreakBeforeBraces: Custom
